<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Liên hệ</h5>

        <p>

          103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam <br>
          Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666 <br>
          Email: reservation@furamavietnam.com * www.furamavietnam.com <br>
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <ul class="list-group">
          <li class="list-group-item">Giá Công Bố</li>
          <li class="list-group-item">Lifestyle Blog</li>
          <li class="list-group-item">Tuyển Dụng</li>
          <li class="list-group-item">Liên Hệ</li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

    COVID 19 UPDATE: The safety and well-being are our utmost priority
  </div>
  <!-- Copyright -->
</footer>
