<div class="">
  <div class="">
    <div class="myNav">
      <nav class="mylink navbar navbar-expand-lg navbar-light text-white">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">KHÓA HỌC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TRUNG TÂM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">TIN TỨC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">GIỚI THIỆU</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

  </div>
</div>

<div class="myImg">
  <img
    src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.6435-9/59810501_593814947787611_8529199403632689152_n.jpg?stp=dst-jpg_p180x540&_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_ohc=20TL_c_GheYAX-A-f4x&_nc_ht=scontent.fdad1-1.fna&oh=00_AT_S-CmpftI4hK3H2hCbztyG-GRFBjK1F2YWqQRoc0x6CA&oe=62435F83"
    alt="hinhanh">
</div>
<div class="container">
  <h2 class="text-center">TỔNG QUAN CHƯƠNG TRÌNH</h2>
  <p>
    Chương trình CodeGym Career tại CodeGym cung cấp giải pháp đào tạo lập trình viên chuyên nghiệp, huấn luyện thực
    chiến trong thời gian ngắn, thực hành liên tục và cường độ cao. Học viên sẽ thành thạo các kỹ thuật lập trình với
    các ngôn ngữ JavaScript, Java, PHP và Typescript, tham gia vào các nhóm dự án theo mô hình Scrum và sử dụng các kỹ
    thuật Agile thông dụng. Hoàn thành chương trình, học viên CodeGym có thể đảm nhận ngay vị trí lập trình viên
    full-stack tại các công ty.
  </p>

  <div class="video">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/pDOD7gAGM6g" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-4 ">
      <div class="card text-center">
        <div class="card-header">
          <strong>
            Sự nghiệp bắt đầu ngay từ ngày đầu tiên
          </strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Sự nghiệp trở thành lập trình viên full-stack sẽ bắt đầu ngay từ ngày đầu tiên. Học viên giống như là nhân
            viên tập sự tại CodeGym,
            tuân thủ các quy định về kỷ luật và văn hoá của CodeGym. Trong vòng 20 tuần, CodeGym giúp bạn trở thành lập
            trình viên có đầy đủ
            các kỹ năng quan trọng để phát triển sự nghiệp lâu dài.
          </p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="col-4 ">
      <div class="card text-center">
        <div class="card-header">
          <strong>
            Bạn nhận được tương ứng những gì bạn bỏ ra
          </strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Để đạt được mục tiêu, học viên CodeGym được kỳ vọng dành ít nhất 70h mỗi tuần cho chương trình. Các học viên
            thành công nhất thường dành tới 90h/tuần. Học viên của CodeGym thường nói rằng, chương trình Coding Bootcamp
            là điều khó khăn nhất nhưng đáng giá nhất mà họ từng thực hiện.
          </p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="col-4 ">
      <div class="card text-center">
        <div class="card-header">
          <strong>
            Trải nghiệm doanh nghiệp
          </strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Chương trình của CodeGym được thiết kế cô đọng và chọn lọc các nội dung thiết yếu, đáp ứng yêu cầu của doanh
            nghiệp. CodeGym tổ chức thường xuyên các seminar, techtalk với doanh nghiệp và các chuyến tham quan doanh
            nghiệp dành cho học viên. Cuối mỗi khóa học, các doanh nghiệp sẽ tham gia phiên phỏng vấn để đánh giá năng
            lực và tuyển dụng học viên.
          </p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="col-4 ">
      <div class="card text-center">
        <div class="card-header">
          <strong>
            Thực chiến: Học thông qua làm
          </strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Học viên sẽ bắt đầu lập trình từ ngày đầu tiên tại CodeGym. Chương trình học được cá nhân hoá trong môi
            trường học tập sáng tạo, với cường độ cao và nhịp độ nhanh, làm sản phẩm thực, thúc đẩy sự hợp tác thông qua
            lập trình cặp trong các giờ thực hành.
          </p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="col-4 ">
      <div class="card text-center">
        <div class="card-header">
          <strong>
            Hỗ trợ tối đa
          </strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Đội ngũ giảng viên, tutor kinh nghiệm của CodeGym hướng dẫn, hỗ trợ học viên liên tục, giúp học viên nhanh
            chóng cải thiện và nâng cao chất lượng chương trình phần mềm. Kết thúc chương trình, học viên tìm việc với
            sự hỗ trợ và cam kết của CodeGym.
          </p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="col-4 ">
      <div class="card text-center">
        <div class="card-header">
          <strong>
            Công nghệ giáo dục
          </strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            CodeGym nghiên cứu và áp dụng các phương pháp dạy và học hiệu quả nhất: Học tập qua dự án (Project-based
            learning) và Học tập đảo ngược (Flipped learning). Học viên được trang bị kỹ năng học tập suốt đời, kỹ năng
            làm việc và phát triển nghề nghiệp.
          </p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

  </div>

  <div class="lotrinh">
    <img
      src="https://i0.wp.com/codegym.vn/wp-content/uploads/2019/11/L%E1%BB%99-tr%C3%ACnh-h%E1%BB%8Dc-t%E1%BA%ADp-49.png?w=1080&ssl=1"
      alt="">
  </div>

  <h2 class="text-center"> Trải nghiệm 1 ngày tại CodeGym</h2>
  <div class="video">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/pDOD7gAGM6g" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>

</div>
<div class="myfoot">

  <img src="../../Untitled001.jpg" alt="anh"/>
</div>
