* {
    box-sizing: border-box;
}


.margin-10-px {
    color: red;
    margin: 10px 0;
}

body{
    background: url("../img/hihihi.jpg") top left/cover no-repeat;
}

.noti {
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    height: 60px;
    line-height: 30px;
    margin: 20px 0;
    border: 1px solid orange;
}

.home_tile {
    margin: 25px;
    text-align: center;
    color: ghostwhite;
    text-shadow: 0 0 8px darkblue;
    font-size: 35px;
}

.my_content{
    background: rgba(0,0,0,0.7);
    padding: 20px 40px;
    border-radius: 25px;
    margin: 40px;
    color: white;
}