<div class="my_content">
  <div class="list_title">
    <h1> EMPLOYEE LIST </h1>
  </div>
  <!--  <form action="/employee/showemployee" method="get">-->

  <!--    <label> Find by name-->
  <!--      <input type="text" name="findName" class="form-control-sm">-->
  <!--    </label>-->
  <!--    <label> find by Division-->
  <!--      <select class="form-control-sm" name="divisionId">-->
  <!--        <option disabled selected> &#45;&#45;CHOSE DIVISION&#45;&#45;</option>-->
  <!--        <th:block th:each="division: ${divisionList}">-->
  <!--          <option th:value="${division.divisionId}" th:text="${division.divisionName}"></option>-->
  <!--        </th:block>-->
  <!--      </select>-->
  <!--    </label>-->
  <!--    <label> find by Education-->
  <!--      <select class="form-control-sm" name="education">-->
  <!--        <option disabled selected> &#45;&#45;CHOSE EDUCATION&#45;&#45;</option>-->
  <!--        <th:block th:each="edu: ${educationList}">-->
  <!--          <option th:value="${edu.eduId}" th:text="${edu.eduName}"></option>-->
  <!--        </th:block>-->
  <!--      </select>-->
  <!--    </label>-->
  <!--    <label> find by Position-->
  <!--      <select class="form-control-sm" name="position">-->
  <!--        <option disabled selected> &#45;&#45;CHOSE POSITION&#45;&#45;</option>-->
  <!--        <th:block th:each="pos: ${positionList}">-->
  <!--          <option th:value="${pos.postd}" th:text="${pos.posName}"></option>-->
  <!--        </th:block>-->
  <!--      </select>-->
  <!--    </label>-->

  <!--    <button class=" buttonBg" type="submit">-->
  <!--      <i class="fa-solid fa-magnifying-glass"></i>-->
  <!--    </button>-->
  <!--  </form>-->

  <!--    add new-->
  <!--  <p th:text="${msg}" class="msg"></p>-->
  <a routerLink="/employee/create" class="organtedbtn" type="button"> Add new Employee</a>


  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th> Name</th>
      <th> Birthday</th>
      <th> Salary</th>
      <th> ID Card</th>
      <th> Contact</th>
      <th> Position</th>
      <th> Division</th>
      <th> Education Degree</th>
      <th colspan="2"> Action</th>
    </tr>
    </thead>
    <tr *ngFor="let emp of employeeList">
      <td>
        <div>{{emp.employeeName}}</div>
      </td>
      <td>{{emp.employeeBirthday}}</td>
      <td>{{emp.employeeSalary}}</td>
      <td>{{emp.employeeIdCard}}</td>

      <td>
        <div class="yelow_organe">{{emp.employeePhone}} <span
        > </span></div>
        <div class="red_purple">{{emp.employeeMail}}<span
        > </span></div>
        <div class="green_blue">{{emp.employeeAdress}} <span
        > </span></div>
      </td>
      <td>{{emp.position}}</td>
      <td>{{emp.divisionId}}</td>
      <td>{{emp.education}}</td>
      <td> <!-- Button trigger modal -->
        <a type="button"  class="btn btn-primary text-dark" routerLink="/employee/edit/{{emp.id}}">Edit</a>
      </td>
      <td> <!-- Button trigger modal -->
        <button (click)="findById(emp.id)" type="button" class="btn btn-danger text-black" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
          Delete
        </button>
      </td>

    </tr>
  </table>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Confirm delete employee has name {{employee.employeeName}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="deleteEmployee(employee.id)" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!--  <footer>-->
  <!--    <nav aria-label="Page navigation example">-->
  <!--      <ul class="pagination justify-content-end">-->
  <!--        <li class="page-item  " >-->
  <!--          <a class="page-link"-->
  <!--             th:href="@{'/employee/showemployee'(page=${employeeList.number - 1},findName=${findName},-->
  <!--                       divisionId=${divisionId},-->
  <!--                       education=${education},-->
  <!--                       position=${position})}"-->
  <!--             tabindex="-1"-->
  <!--             aria-disabled="true">Previous</a>-->
  <!--        </li>-->
  <!--        <li class="page-item disabled" th:unless="${employeeList.hasPrevious()}">-->
  <!--          <a class="page-link " href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
  <!--        </li>-->
  <!--        <li class="page-item">-->
  <!--          <div class="page-link ">-->
  <!--            <span th:text="${employeeList.number+1}"></span> of-->
  <!--            <span th:text="${employeeList.totalPages}"></span>-->
  <!--          </div>-->
  <!--        </li>-->
  <!--        <li class="page-item" th:if="${employeeList.hasNext()}">-->
  <!--          <a class="page-link  "-->
  <!--             th:href="@{'/employee/showemployee'(page=${employeeList.number + 1},findName=${findName},-->
  <!--                       divisionId=${divisionId},-->
  <!--                       education=${education},-->
  <!--                       position=${position})}"-->
  <!--             tabindex="-1"-->
  <!--             aria-disabled="true">Next</a>-->
  <!--        </li>-->
  <!--        <li class="page-item disabled" th:unless="${employeeList.hasNext()}">-->
  <!--          <a class="page-link  " href="#" tabindex="-1" aria-disabled="true">Next</a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </footer>-->
</div>
