/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.myContent {
  width: 85%;
  border-radius: 40px;
  box-shadow: -1px -1px 10px #979797;
  margin: 45px auto;
  padding: 30px;
  background:palegreen;

}

.form-control{
  background: transparent;
  border: none;
  border-bottom: solid 2px blueviolet;

  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: box-shadow .15s ease-in-out;
}

.form-control:focus {
  outline: none !important;
  box-shadow: 0 0 10px blueviolet;
}

.myBg{
  background:url("../assets/img/bg.jpg")top left/cover no-repeat;
}
