<div class="my_content">
  <div class="list_title">
    <h1> CONTRACT LIST </h1>
  </div>

  <!--  <form action="#">-->
  <!--    <label> find by Customer Name-->
  <!--      <input class="form-control-sm" type="text" name="cusName">-->
  <!--    </label>-->
  <!--    <label> find by service Name-->
  <!--      <input class="form-control-sm" type="text" name="serName">-->
  <!--    </label>-->

  <!--    <button class=" buttonBg" type="submit">-->
  <!--      search-->
  <!--    </button>-->
  <!--  </form>-->

  <div class="d-flex justify-content-between margin_10">
    <div class="mb-auto p-2 bd-highlight">
      <a type="button" class="organtedbtn" href="#"> Create contract</a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
    <tr>

      <th> Contract Code</th>
      <th> Deposit</th>
      <th> Star day</th>
      <th> End day</th>
      <th> Customer</th>
      <th> Service</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contractList | paginate: { itemsPerPage: 10, currentPage: p }">

      <td>{{contract.contractCode}}</td>
      <td>{{contract.deposit}}</td>
      <td> {{contract.starDate}}</td>
      <td>{{contract.endDate}}</td>
      <td>{{contract.customerId.customerName}}</td>
      <td>{{contract.serviceId.serviceName}}</td>
    </tr>
    </tbody>

  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
