<div class="my_content">
  <div class="list_title">
    <h1> CONTRACT LIST </h1>
  </div>

  <form action="#">
    <label> find by Customer Name
      <input class="form-control-sm" type="text" name="cusName">
    </label>
    <label> find by service Name
      <input class="form-control-sm" type="text" name="serName">
    </label>

    <button class=" buttonBg" type="submit">
      search
    </button>
  </form>

  <div class="d-flex justify-content-between margin_10">
    <div class="mb-auto p-2 bd-highlight">
      <a type="button" class="organtedbtn" href="#"> Create contract</a>
    </div>
    <!--        <div class="p-2 bd-highlight">-->
    <!--              <a type="button" class="organtedbtn" href="/contractdetail/create"> Create contract detail</a>-->
    <!--        </div>-->
  </div>

  <!--  <div th:text="${msg}" class="msg"></div>-->


  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th> Contract Id</th>
      <th> Deposit</th>
      <th> Star day</th>
      <th> End day</th>
      <th> Customer</th>
      <th> Service</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contractList">
      <td>{{contract.contractId}}</td>
      <td>{{contract.deposit}}</td>
      <!--            <td th:text="${c.contractId.startDate}"></td>-->
      <td> {{contract.startDate}}</td>
      <!--            <td th:text="${c.contractId.endDate}"></td>-->
      <td>{{contract.endDate}}</td>
      <td>{{contract.customerId.customerName}}</td>
      <td>{{contract.serviceId.serviceName}}</td>
      <!--      <td>-->
      <!--        <a type="button" class="organtedbtn"> add-->
      <!--          detail</a>-->
      <!--      </td>-->
    </tr>
    </tbody>

  </table>
  <nav aria-label=" Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item  ">
        <a class="page-link"

           tabindex="-1"
           aria-disabled="true">Previous</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link " href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item">
        <div class="page-link ">
          <span></span> of
          <span></span>
        </div>
      </li>
      <li class="page-item">
        <a class="page-link  "

           tabindex="-1"
           aria-disabled="true">Next</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link  " href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
    </ul>
  </nav>
</div>
