<div class="container">
  <div class="mytitle">
    <div>
      <h1> NEW VILLA SERVICE </h1>
    </div>
    <div>
      <h1>NEW HOUSE SERVICE</h1>

    </div>
    <div>
      <h1> NEW ROOM SERVICE</h1>
    </div>

  </div>
  <div class="my_content">
    <form action="#" method="post" class="row">
      <input type="hidden">

      <div class="col-6 margin_10">
        <label for="Code" class="form-label">Code</label>
        <input type="text" class="form-control" id="Code">
        <div class="margin-10-px"></div>
      </div>
      <div class="col-6 margin_10">
        <label for="serviceName" class="form-label">Name</label>
        <input type="text" class="form-control" id="serviceName">
        <div class="margin-10-px"
        ></div>
      </div>

      <div class="col-12 margin_10">
        <label for="type">Select rent Type</label>
        <select class="form-control" id="type">
          <option> rent type</option>
        </select>
      </div>

      <div class="col-12 margin_10">
        <label for="serviceArea" class="form-label">Service Area</label>
        <input type="number" step="0.01" class="form-control" id="serviceArea">
        <div class="margin-10-px"
        ></div>
      </div>

      <div class="col-12 margin_10">
        <!--                   -->

        <label for="poolArea" class="form-label">Pool Area</label>
        <input type="number" step="0.01" class="form-control" id="poolArea">
        <div class="margin-10-px"
        ></div>
      </div>

      <div class="col-12 margin_10">
        <label for="maxPeople" class="form-label">Max people</label>
        <input type="number" class="form-control" id="maxPeople">
        <div class="margin-10-px"></div>
      </div>
      <!--            <div th:if="${newService.serviceTypeId.serviceTypeId != 3}">-->

      <div class="col-12 margin_10">
        <!--                    -->

        <label for="standarRoom" class="form-label">Standar Room</label>
        <input type="text" class="form-control" id="standarRoom">
        <div class="margin-10-px"></div>
      </div>

      <div class="col-12 margin_10">
        <!--                    -->

        <label for="floorsNumber" class="form-label">Floor number</label>
        <input type="number" class="form-control" id="floorsNumber">
        <div class="margin-10-px"></div>
      </div>
      <div class="col-12 margin_10">

        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description">
        <div class="margin-10-px"></div>
      </div>

      <!--            </div>-->
      <div class="col-12 margin_10">
        <label for="freeService" class="form-label">Free Service</label>
        <input type="text" class="form-control" id="freeService">
        <div class="margin-10-px"
        ></div>
      </div>


      <div class="col-12 margin_10">
        <label for="serviceCost" class="form-label">Cost</label>
        <input type="number" class="form-control" id="serviceCost">
        <div class="margin-10-px"
        ></div>
      </div>
      <div class="col-12 margin_10 ">
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
