<div class="container">
  <div class="mytitle">
    <h1> CREATE CUSTOMER </h1>
  </div>
  <div class="my_content">

    <form class="row" action="#" method="post">
      <input type="hidden">
      <div class="col-md-6 margin_10">
        <label for="customerCode" class="form-label">Code</label>
        <input type="text" class="form-control" id="customerCode">

      </div>

      <div class="col-md-6 margin_10">
        <label for="customerName" class="form-label">Name</label>
        <input type="text" class="form-control" id="customerName">

      </div>

      <div class="col-12 margin_10">
        <label for="customerBirthday" class="form-label">Birthday</label>
        <input type="date" class="form-control" id="customerBirthday">

      </div>

      <div class="col-md-12 margin_10">
        <div class=" form-label">Gender
          <span>
                 <input type="radio" value="0">
                <input type="radio" value="1">
                </span>
        </div>
      </div>
      <div class="col-md-12 margin_10">
        <label for="type">Select Type</label>
        <select class="form-control" id="type">
          <option> Diamond</option>
          <option> Platinum</option>
          <option> Gold</option>
          <option> Silver</option>
        </select>
      </div>
      <!--            <div class="row">-->

      <div class="col-md-6 margin_10 ">
        <label for="customerEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="customerEmail">

      </div>

      <div class="col-md-6 margin_10 ">
        <label for="customerPhone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="customerPhone">

        <!--                </div>-->
      </div>
      <div class="col-md-12 margin_10 ">
        <label for="customerAdress" class="form-label">Adress</label>
        <input type="text" class="form-control" id="customerAdress">
      </div>

      <div class="col-md-12 margin_10 ">
        <label for="customerIdCard" class="form-label">Id Card</label>
        <input type="text" class="form-control" id="customerIdCard">

      </div>

      <div class="col-md-12 margin_10 ">
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

  </div>
</div>
